@model Zwitscher.Models.User

@{
    ViewData["Title"] = "Registrieren";
}

<h1>Benutzerkonto erstellen</h1>

<hr />
<div class="row justify-content-md-center">
    <div class="col-md-4">
        <form asp-action="Register">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            
            @*<div class="form-group m-2">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group m-2">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>*@
            @*<div class="form-group m-2">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group m-2">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>*@
            @*<div class="form-group m-2">
                <label asp-for="Birthday" class="control-label"></label>
                <input asp-for="Birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label for="LastName" class="control-label">LastName:</label>
                <input type="text" id="LastName" name="LastName" class="form-control" />
            </div>
            <div class="form-group">
                <label for="FirstName" class="control-label">FirstName:</label>
                <input type="text" id="FirstName" name="FirstName" class="form-control" />
            </div>
            <div class="form-group">
                <label for="Username" class="control-label">Username:</label>
                <input type="text" id="Username" name="Username" class="form-control" />
            </div>
            <div class="form-group">
                <label for="Password" class="control-label">Password:</label>
                <input type="password" id="Password" name="Password" class="form-control" />
            </div>
            <div class="form-group">
                <label for="Birthday" class="control-label">Birthday:</label>
                <input type="date" id="Birthday" name="Birtday" class="form-control" />
            </div>
            
            
            <div class="form-group m-2">
                <input type="submit" value="Registrieren" class="btn btn-primary" />
            </div>
            <div class="m-2">
                <a asp-action="Index">Login</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
