@model List<Zwitscher.Models.Post>
@{
    ViewData["Title"] = "Homefeed";
}
<head>
    
    <link rel="stylesheet" href="/css/sidebar.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
</head>
<body>
<div class="text-center">
    <h1 class="display-4">Feed Overview</h1>
    
</div>
<div class="grid-container">



        
@foreach (var post in Model)
{
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">@post.User.Username</h5>
                <p class="card-text">@post.TextContent</p>
            </div>
        </div>
    </div>
            }
        

</div>
</body>