@model List<Zwitscher.Models.Post>
@{
    ViewData["Title"] = "Homefeed";
}

<div class="text-center">
    <h1 class="display-4">Feed Overview</h1>
    
</div>

@foreach (var post in Model)
{
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">@post.User.Username</h5>
                <p class="card-text">@post.TextContent</p>
            </div>
        </div>
    </div>
}

