body {
    min-width:800px;
}

.widgets {
}
#dark .widgets {
  background-color: #3a3939;
}

#light .widgets {
  background-color: white;
}

.widgets_input {
}
#dark .widgets_input {
  background-color: #d1d1d1;
}
#light .widgets_input {
  background-color: #f5f8fa;
}



.marginContainer {
  margin-bottom: 50px;
}
#dark .marginContainer {
  background-color: #04335c;
}
