.feed::-webkit-scrollbar {
  display: none;
}

.feed {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border-radius: 30px;
  max-width: 650px;
  justify-content: center;
  margin-left: 5%;
  flex: 0.7;
}

.feed_header {
  position: sticky;
  top: 0;
  z-index: 100;
  border: 1px solid var(--zwitscher-background);
  padding: 15px 20px;
}

.feed_header > h2 {
  font-size: 20px;
  font-weight: 800;
}
