.Header {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    /*margin-bottom: 5px;*/
    border-bottom: 1px solid #999999;
}
#light .Header {
    
}
#black .Header {
  
}

.Header_Left {
  flex: 0.4;
}

.Header_Middle {
  flex: 0.2;
}

.Header_Right {
    display: flex;
    flex: 0.4;
    justify-content: space-between;
    align-items: center;
    margin-bottom: auto;
    margin-top: auto;
}

.Logo {
  display: flex;
  align-items: center;
}

.Logo_Zwitscher {
  margin-left: 1%;
}
#dark .Logo_Zwitscher {
  filter: invert(93%) sepia(6%) saturate(0%) hue-rotate(89deg) brightness(91%)
    contrast(90%);
}

.Logo_Zwitscher img {
  width: 65px;
  cursor: pointer;
}

.Logo_Text {
    color: var(--Light_TextColor);
    cursor: pointer;
    text-align: center;
    align-self: center;
    font-size: 56px;
    font-weight: bold;
    margin-left: 3%;
    text-decoration: none;
}
#dark .Logo_Text {
  filter: invert(93%) sepia(6%) saturate(0%) hue-rotate(89deg) brightness(91%)
    contrast(90%);
}

.Login_Icon {
  margin-top: 15px;
  margin-right: 10%;
  transform: scale(2);
  cursor: pointer;
}
#light .Login_Icon {
    color: var( --Light_HeaderIconColor);
}
    #light .Login_Icon:hover {
        color: var(--Light_Hover_HeaderIconColor);
        transition: color 1000ms ease-out;
    }
#dark .Login_Icon {
    color: var(--Dark_HeaderIconColor);
    
}
    #dark .Login_Icon:hover {
        color: var(--Light_Hover_HeaderIconColor);
        transition: color 1000ms ease-out;
    }

.toggle {
  margin-left: 70%;
  margin-top: 15px;
  cursor: pointer;
  transform: scale(1.35);
}
#light .toggle {
    color: var(--Light_HeaderIconColor) !important;
}
    #light .toggle:hover {
        color: var(--Light_Hover_HeaderIconColor) !important;
        transition: color 1000ms ease-out;
    }
#dark .toggle {
    color: var(--Dark_HeaderIconColor) !important;
}
    #dark .toggle:hover {
        color: var(--Dark_Hover_HeaderIconColor) !important;
        transition: color 1000ms ease-out;
    }
