.Header {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 5px;
  /*border-bottom: 1px solid rgb(228, 225, 225);*/
}
#light .Header {
  background-color: rgb(249, 249, 249);
  border-bottom: 1px solid rgb(248, 245, 245);
}
#black .Header {
  background-color: black;
}

.Header_Left {
  flex: 0.4;
}

.Header_Middle {
  flex: 0.2;
}

.Header_Right {
  display: flex;
  flex: 0.4;
  justify-content: space-between;
  align-items: center;
}

.Logo {
  display: flex;
  align-items: center;
}

.Logo_Zwitscher {
  margin-left: 40%;
}
#dark .Logo_Zwitscher {
  filter: invert(93%) sepia(6%) saturate(0%) hue-rotate(89deg) brightness(91%)
    contrast(90%);
}

.Logo_Zwitscher img {
  width: 65px;
  cursor: pointer;
}

.Logo_Text {
  color: #04335c;
  cursor: pointer;
  text-align: center;
  align-self: center;
  font-size: 56px;
  font-weight: bold;
  margin-left: 3%;
  text-decoration: none;
}
#dark .Logo_Text {
  filter: invert(93%) sepia(6%) saturate(0%) hue-rotate(89deg) brightness(91%)
    contrast(90%);
}

.Login_Icon {
  margin-top: 15px;
  margin-right: 10%;
  transform: scale(2);
  cursor: pointer;
}
#light .Login_Icon {
  color: #01385f;
}
#light .Login_Icon:hover {
  color: black;
  transition: color 1000ms ease-out;
}
#dark .Login_Icon {
  color: #d1d1d1;
}
#dark .Login_Icon:hover {
  color: white;
  transition: color 1000ms ease-out;
}

.toggle {
  margin-left: 70%;
  margin-top: 15px;
  cursor: pointer;
  transform: scale(1.35);
}
#light .toggle {
  color: #01385f !important;
}
#light .toggle:hover {
  color: black !important;
  transition: color 1000ms ease-out;
}
#dark .toggle {
  color: #d1d1d1 !important;
}
#dark .toggle:hover {
  color: white !important;
  transition: color 1000ms ease-out;
}
