.post {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid #999999;
    border-radius: 20px;
    box-shadow: 5px 5px #999999;
    padding-bottom: 10px;
    margin: 20px 0px 20px 0px;
    min-width: 500px;
}
#dark .post {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #201c1c;
    background-color: #302c2c;
}
#light .post {
  background-color: rgb(253, 253, 253);
}

.post_body {
  flex: 1;
  padding: 10px;
}

.post_body > img {
  display: block;
  margin: 50px auto 30px auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;
}
    .post_body > video {
        display: block;
        margin: 50px auto 30px auto;
        max-width: 100%;
        max-height: 100%;
        border-radius: 20px;
    }


.post_footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
    background-color: #e5fff6;
    border-radius: 8px;
    border: 5px groove #999999;
    height: 50px;
}
#dark .post_footer {
  background-color: #3a3939;
}

.post_footer .chat-icon {
  cursor: pointer;
  font-size: 24px !important;
  margin-left: 10%;
}

.post_footer .chat-icon:hover {
  color: white;
}

.post_footer .vote_container {
    display: flex;
    margin-right: 10%;
    width: 85px;
    height: 38px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    border-radius: 6px;

}
#dark .post_footer .vote_container {
    color: #d1d1d1;
    background-color: #302c2c;
    
}

.post_footer .upvote {
  height: 35px;
  width: 35px;
  cursor: pointer;
}
#dark .post_footer .upvote {
  filter: grayscale(60%) invert(80%) sepia(0%) saturate(0%) hue-rotate(200deg)
    brightness(120%) contrast(90%);
}

.post_footer .upvote:hover {
  filter: grayscale(70%) invert(70%) sepia(6%) saturate(0%) hue-rotate(89deg)
    brightness(91%) contrast(90%);
}
#dark .post_footer .upvote:hover {
  filter: grayscale(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(89deg)
    brightness(130%) contrast(120%);
}

/*Upvote filled*/
.post_footer .UpvoteFilled {
  height: 35px;
  width: 35px;
  cursor: pointer;
}
#dark .post_footer .UpvoteFilled {
  filter: grayscale(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg)
    brightness(130%) contrast(120%);
}

/*Downvote not filled*/
.post_footer .downvote {
  height: 35px;
  width: 35px;
  cursor: pointer;
}
#dark .post_footer .downvote {
  filter: grayscale(60%) invert(80%) sepia(0%) saturate(0%) hue-rotate(200deg)
    brightness(120%) contrast(90%);
}

.post_footer .downvote:hover {
  filter: grayscale(70%) invert(70%) sepia(6%) saturate(0%) hue-rotate(89deg)
    brightness(91%) contrast(90%);
}
#dark .post_footer .downvote:hover {
  filter: grayscale(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(89deg)
    brightness(130%) contrast(120%);
}

/*Downvote Filled*/
.post_footer .downvoteFilled {
  height: 35px;
  width: 35px;
  cursor: pointer;
}
#dark .post_footer .downvoteFilled {
  filter: grayscale(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg)
    brightness(130%) contrast(120%);
}

.post_footer > svg {
  margin-right: 10px;
}

.post_headerDescription {
  margin-bottom: 10px;
  font-size: 15px;
}

.post_headerText {
  display: flex;
  align-items: flex-start;
}

.post_headerText > h3 {
  font-size: 15px;
  margin-bottom: 5px;
}

.post_votes {
  display: flex;
}

.post_upVotes {
  padding: 0 10px;
}

.post_badge {
  font-size: 20px !important;
  color: var(--zwitscher-color);
}

.post_header_span {
  font-weight: 600;
  font-size: 15px;
  margin-left: 10px;
}

.post_avatar {
    padding: 20px;
    display: inline-flex;
    text-align: center;
    vertical-align:middle;
}
.post_avatar p {
        font-size: 20px;
        font-weight:bold ;
        transform: translate(5%, 12%);
}