.widgets {
    display:flex;
  align-self: start;
  width: 100%;
  max-width:500px;
  padding: 10px;
  flex-direction:column;
  height:100%
}

.widgets_input {
  display: flex;
  align-items: center;
  
  width:100%;
  flex:1;
  max-height:50px;
  border-radius: 20px;
 
}

    .widgets_input > input {
        border: none;
        background-color: var(--LightBaseColor);
        height: 40px;
        width: 100%;
        border-radius:20px;
        border: 1px solid #aaaaaa;
    }

.widget_searchIcon {
  color: grey;
}

.darkmode_input {
    display: flex;
    align-items: center;
    background-color: var(--LightBaseColor);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
}

.widgets_widgetContainer {
  padding: 20px;
  background-color: #f5f8fa;
  border-radius: 20px;
}

.widget_widgetContainer > h2 {
  font-size: 18px;
  font-weight: 800;
}

.searchResults {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border: 1px solid var(--Light_BorderColor);
    border-radius: 20px;
    max-width: 800px;
    justify-content: start;
    flex: 2;
    height:100%;
    align-content:start;
    align-items: start;
}
    .searchResults ul {
        align-content: start;
        align-items: start;
        padding:0;
    }
.searchResults li{
    margin: 2px 0;
    border: 1px dashed var(--Light_BorderColor);
    border-radius: 20px;
    list-style-type:none;
   
}