.zwitscherBox {
  padding-bottom: 10px;
  border-bottom: 8px solid rgb(228, 225, 225);
  border: 1px solid rgb(228, 225, 225);
  padding-right: 10px;
  flex: 1;
  height: 175px;
}
#dark .zwitscherBox {
  border-bottom: 8px solid #201c1c;
  border-left: none;
  border-right: none;
  border-top: none;
}

.zwitscherBox > form {
  display: fex;
  flex-direction: column;
  border-radius: 9px;
  margin-left: 15px;
  height: 100%;
}

.zwitscherBox_input {
  padding: 20px;
  display: flex;
}

.zwitscherBox_input > input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: 1px;
  border-radius: 9px;
}

::placeholder {
  color: black;
}

.zwitscherbox_footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.zwitscherbox_footerLeft {
  display: flex;
  margin-left: 3%;
  margin-top: 30px;
}

.zwitscherBox_imageInput {
  border: none;
  border-radius: 9px;
  padding: 10px;
  cursor: pointer;
  transform: scale(7);
}
#dark .zwitscherBox_imageInput {
  color: #d1d1d1 !important;
}
#dark .zwitscherBox_imageInput:hover {
  color: white !important;
  transition: color 1000ms ease-out;
}

#light .zwitscherBox_imageInput {
  color: #01385f !important;
}
#light .zwitscherBox_imageInput:hover {
  color: black !important;
  transition: color 1000ms ease-out;
}

.zwitscherBox_videoInput {
  cursor: pointer;
  transform: scale(1.35);
  margin-left: 30px;
}
#dark .zwitscherBox_videoInput {
  color: #d1d1d1 !important;
}
#dark .zwitscherBox_videoInput:hover {
  color: white !important;
  transition: color 1000ms ease-out;
}

#light .zwitscherBox_videoInput {
  color: #01385f !important;
}
#light .zwitscherBox_videoInput:hover {
  color: black !important;
  transition: color 1000ms ease-out;
}

.zwitscherBox_zwitscherButton {
  background-color: aquamarine !important;
  border: none !important;
  color: black !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  width: 150px;
  height: 40px !important;
  margin-right: 2% !important;
  margin-top: 30px !important;
}
#dark .zwitscherBox_zwitscherButton {
  background-color: #201c1c !important;
  color: #d1d1d1 !important;
}

#dark .zwitscherBox_zwitscherButton:hover {
  background-color: #292020 !important;
}
