.zwitscherBox {
  padding-bottom: 10px;
  border-bottom: 8px solid rgb(228, 225, 225);
  border: 1px solid rgb(228, 225, 225);
  padding-right: 10px;
  flex: 1;
}
#dark .zwitscherBox {
  border-bottom: 8px solid #201c1c;
  border-left: none;
  border-right: none;
  border-top: none;
}

.zwitscherBox > form {
  display: fex;
  flex-direction: column;
  border-radius: 9px;
  margin-left: 15px;
}

.zwitscherBox_input {
  padding: 20px;
  display: flex;
}

.zwitscherBox_input > input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: 1px;
  border-radius: 9px;
}

::placeholder {
  color: black;
}

.zwitscherBox_imageInput {
  border: none;
  padding: 10px;
}

.zwitscherBox_zwitscherButton {
  background-color: var(--zwitscher-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  width: 150px;
  height: 40px !important;
  margin-top: 20px !important;
  margin-left: 32% !important;
  margin-bottom: 5px !important;
  background-color: grey !important;
}
