@model Zwitscher.Models.User

@{
    ViewData["Title"] = "Edit";
}

<h1>Nutzer auswählen</h1>


<hr />

    <div >

    <form asp-controller="Users" asp-action="AddBlockingToUser" enctype="multipart/form-data">
            
            
            <input type="hidden" name="userID" value="@Model.Id" />
            
                
                <select  name="userToAddId" size="4" class="form-select" style="width:100%" asp-items="ViewBag.users"></select>
                
            
            <br />
            
                <input type="submit" value="hinzufügen" class="btn btn-success" />
            
        </form>
    </div>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
