@model Zwitscher.Models.User

@{
    ViewData["Title"] = "Edit";
}

<h1>Dateien hochladen</h1>


<hr />

    <div >

    <form asp-controller="Users" asp-action="AddMediaToUser" enctype="multipart/form-data">
            
            
            <input type="hidden" name="userID" value="@Model.Id" />


        <input name="file" type="file" class="form-control" accept="image/png, image/gif, image/jpeg" />
                
            
            <br />
            
                <input type="submit" value="hinzufügen" class="btn btn-success" />
            
        </form>
    </div>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
